@tailwind base;
@tailwind components;
@tailwind utilities;


.tw-all-center {
  @apply flex items-center justify-center;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  body::-webkit-scrollbar{
    display: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.slide-in-left {
  animation: slideInLeft .2s ease-in;
  transition: all .5s ease-in;
}

.scene {
  perspective: 500px;
  transform-style: preserve-3d;
  transform-origin: bottom center;
}

.fall {
transform: rotateY(60deg) ;
}

@keyframes slideInLeft {
  from {
    right: -50%;
    opacity: 0;
  }
  to {
    right: 0px;
  }
}

.erase-left {
  animation: eraseLeft .5s ease-out;
  transition: all 1s ease-in;
}
.erase-right-hidden {
  animation: eraseRightHidden .5s ease-out;
  transition: all 1s ease-in;
}

@keyframes eraseRightHidden {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(-200px);
    opacity: 0;
    display: none;
  }
}

@keyframes eraseLeft {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(200px);
    opacity: 0;
  }
}